.drawing--container {
    position: relative;

    & .drawing__gallow--rope {
        height: 25px;
        width: 5px;
        background-color: black;

        position: absolute;
        top: 0;
        right: 0;

    }

    & .drawing__gallow--bracket {
        height: 5px;
        width: 100px;
        background: black;
        margin-left: 60px;
    }

    & .drawing__gallow--pole {
        height: 200px;
        width: 5px;
        background: black;
        margin-left: 60px;
    }

    & .drawing__gallow--base {
        height: 5px;
        width: 125px;
        background: black;
    }
}